POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DATABASE=signalcatcher
LIST_LOG_LEVELS=ERROR,WARNING,INFO,DEBUG
DOWNLOAD_YOUTUBE_PATH=./youtube
VOICE_MONKEY_API_TOKEN=
VOICE_MONKEY_NEW_VIDEO_FOR_DOWNLOAD_MONKEY_ID=